body {
    background-color: rgb(26, 26, 66);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cfdisk-class_02 {
    width: calc(800px / 1.5);
    height: calc(620px / 1.5);
}